<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 p-3 left">
            <ul class="list-group totals">
                <li class="list-group-item active totals">Portfolio Value:
                    <span class="pitted">$
                        <span id="usdVal">0</span>
                    </span>
                </li>
                <li class="list-group-item totals">Nothing To Show</li>
            </ul>
            <ul class="list-group totals my-4">
                <li class="list-group-item active totals">Add Holdings</li>
                <li class="list-group-item totals">
                    <form>
                    <div class="form-group">
                        <select class="form-control" placeholder="Select A Coin" id="coinName">
                            <option data-symbol="BTC">Bitcoin</option>
                            <option data-symbol="ETH">Ethereum</option>
                            <option data-symbol="BCH">Bitcoin Cash</option>
                            <option data-symbol="MIOTA">IOTA</option>
                            <option data-symbol="XRP">Ripple</option>
                            <option data-symbol="LTC">Litecoin</option>
                            <option data-symbol="DASH">Dash</option>
                            <option data-symbol="NEO">NEO</option>
                            <option data-symbol="XMR">Monero</option>
                            <option data-symbol="LSK">Lisk</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <input id="coinQty" type="text" class="form-control" placeholder="Enter Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary btn-warning" id="submitCoin" type="submit">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </i>
                            </button>
                        </span>
                    </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6 p-3">
            <ul class="list-group totals">
                <li class="list-group-item active">Total Holdings</li>
                <li class="list-group-item">
                    <canvas id="myChart" width="1600" height="900"></canvas>
                </li>
            </ul>
        </div>
        <div class="col-md-3"></div>
    </div>
    <a href='https://www.coinbase.com/oauth/authorize?client_id=292d61271cf240147c550bef04ecb2a33fa1c50b4ecb062a8ce4d0562635a0b9&redirect_uri=http%3A%2F%2Flocalhost%3A3005%2F&response_type=code&scope=wallet%3Auser%3Aread'>click</a>
</div>
<script>
    // Button for Syncing with Coinvase
    $("#coinbase").click(function (event) {
        event.preventDefault();
        console.log("click");
        window.location.replace(
            "https://www.coinbase.com/oauth/authorize?client_id=292d61271cf240147c550bef04ecb2a33fa1c50b4ecb062a8ce4d0562635a0b9&redirect_uri=http%3A%2F%2Flocalhost%3A3005%2F&response_type=code&scope=wallet%3Auser%3Aread"
        );
    });
    // Button for submitting coin
    $("#submitCoin").click(function (event) {
        event.preventDefault();
        let name = $('#coinName').val();
        let qty = $('#coinQty').val();
        let symbol = $('#coinName').find(':selected').attr('data-symbol');
        console.log("Coin: " + name + " Qty: " + qty + " Sym: " + symbol);
        $('#coinName').val('');
        $('#coinQty').val('');


        $.post('/addCoin', {
            coinName: name,
            coinSymbol: symbol,
            numCoins: qty
        }).then(function(data){
            console.log(data);
            location.reload();
        })
    });

    $.get('/userData').then(function(data){
        console.log(data);
        let labelsData = [];
        for(var i = 0; i<data[0].Coins.length; i++){
            labelsData.push(data[0].Coins[i].coinName);
        }
        var labels;
        var data;

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'horizontalBar',

            // The data for our dataset
            data: {
                labels: labelsData,
                datasets: [{
                    label: "Total (USD)",
                    backgroundColor: 'white',
                    borderColor: 'white',
                    fontColor: 'white',
                    data: [1000, 999, 333, 222, 111, 330, 445],
                }]
            },

            // Configuration options go here
            options: {
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        fontColor: 'white'
                    }

                }

            }
        });
    })


</script>